<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>
	<nav class="navbar navbar-light fixed-top mx-3 border-bottom border-2 border-primary" layout:fragment="nav">
	
		<!-- ハンバーガーメニュー-->
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarNav" aria-controls="navbarNav"
			aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<a class="navbar-brand" href="/">FGO計算</a>
		<h1 class="toolname" th:text=${form.toolName}></h1>
		<!-- ナビゲーションメニュー -->
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav">
				<li sec:authorize = "!isAuthenticated()" class="nav-item"><a class="nav-link" href="/sessions/login">ログイン</a></li>
				<li sec:authorize = "!isAuthenticated()" class="nav-item"><a class="nav-link" href="/user/new">新規</a></li>
				<li sec:authorize = "isAuthenticated()" class="nav-item"><a class="nav-link" href="/mypages">マイページ</a></li>
				<li class="nav-item"><a class="nav-link" href="/">ホーム</a></li>
				<li class="nav-item"><a class="nav-link" href="/calculator/phantasm">宝具ダメージ</a></li>
				<li class="nav-item"><a class="nav-link" href="/calculator/npGet">NP獲得量</a></li>
				<!-- 未実装
				 <li class="nav-item"><a class="nav-link" href="#">通常攻撃ダメージ</a></li>
				 <li class="nav-item"><a class="nav-link" href="#">スター獲得量</a></li>
				 <li class="nav-item"><a class="nav-link" href="#">霊基一覧</a></li>
				-->
				<li sec:authorize="isAuthenticated()" class="nav-item"><a
					class="nav-link convert-post-method" href="/logout"
					data-method="post" th:data-_csrf="${_csrf.token}">ログアウト</a></li>
				<li class="nav-item"><a class="nav-link" href="/terms">利用規約</a></li>
				<li class="nav-item"><a class="nav-link" href="/privacy">個人情報保護方針</a></li>
			</ul>
		</div>
		<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
		integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
		crossorigin="anonymous"></script>
		<script
		src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
		integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
		crossorigin="anonymous"></script>
		<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
		integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
		crossorigin="anonymous"></script>
	</nav>
	<footer layout:fragment="footer">
		<div class = "ps-3">
			<span>©FGO鬼周回　</span><a href="/terms">利用規約</a><span>　</span><a href = "/privacy">個人情報保護方針</a>
		</div>
	</footer>
</body>
</html>