<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">
<body>
	<div layout:fragment="contents">
		<div class="container home">
			<div class="row m-0">
				<div class="col square"></div>
				<div class="col square">
					<a sec:authorize="!isAuthenticated()" href="/sessions/login" class="circlebtn bg-cyan-blue">ログイン</a>
					<a sec:authorize="isAuthenticated()" href="/logout"
						class="circlebtn bg-cyan-blue convert-post-method"
						data-method="post" th:data-_csrf="${_csrf.token}">ログアウト</a>
				</div>
				<div class="col square"></div>
				<div class="col square">
					<a sec:authorize = "!isAuthenticated()" href="/user/new" class="circlebtn bg-cyan-blue">新規</a>
				</div>
				<div class="col square"></div>
			</div>
			<div class="row m-0">
				<div class="col square pc">
					<a class="circlebtn bg-cyan-blue" href="calculator/phantasm">宝具ダメージ</a>
				</div>
				<div class="col square sp">
					<a class="circlebtn bg-cyan-blue" href="calculator/phantasm">宝具<br>ダメージ</a>
				</div>
				<div class="col square"></div>
				<div class="col square pc">
					<a class="circlebtn bg-cyan-blue" href="calculator/npGet">NP獲得量</a>
				</div>
				<div class="col square sp">
					<a class="circlebtn bg-cyan-blue" href="calculator/npGet">NP<br>獲得量</a>
				</div>
				<div class="col square"></div>
				<div class="col square pc">
					<a class="circlebtn bg-cyan-blue" href="#">通常攻撃ダメージ</a>
				</div>
				<div class="col square sp">
					<a class="circlebtn bg-cyan-blue" href="#">通常攻撃<br>ダメージ</a>
				</div>
			</div>
			<div class="row m-0">
				<div class="col square"></div>
				<div class="col square pc">
					<a class="circlebtn bg-cyan-blue" href="#">スター獲得量</a>
				</div>
				<div class="col square sp">
					<a class="circlebtn bg-cyan-blue" href="#">スター<br>獲得量</a>
				</div>
				<div class="col square"></div>
				<div class="col square">
					<a class="circlebtn bg-cyan-blue" href="#">霊基一覧</a>
				</div>
				<div class="col square"></div>
			</div>
		</div>
	</div>
</body>
</html>