<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">
<body>
	<div layout:fragment="contents">
		<div class="container">
			<div class="row m-0">
				<div class="col square"></div>
				<div class="col square">
					<a href="#" class="circlebtn">ログイン</a>
				</div>
				<div class="col square"></div>
				<div class="col square">
					<a href="#" class="circlebtn">新規</a>
				</div>
				<div class="col square"></div>
			</div>
			<div class="row m-0">
				<div class="col square pc">
					<a class="circlebtn" href="/phantasm">宝具ダメージ</a>
				</div>
				<div class="col square sp">
					<a class="circlebtn" href="/phantasm">宝具<br>ダメージ</a>
				</div>
				<div class="col square"></div>
				<div class="col square pc">
					<a class="circlebtn" href="/npGet">NP獲得量</a>
				</div>
				<div class="col square sp">
					<a class="circlebtn" href="/npGet">NP<br>獲得量</a>
				</div>
				<div class="col square"></div>
				<div class="col square pc">
					<a class="circlebtn" href="#">通常攻撃ダメージ</a>
				</div>
				<div class="col square sp">
					<a class="circlebtn" href="#">通常攻撃<br>ダメージ</a>
				</div>
			</div>
			<div class="row m-0">
				<div class="col square"></div>
				<div class="col square pc">
					<a class="circlebtn" href="#">スター獲得量</a>
				</div>
				<div class="col square sp">
					<a class="circlebtn" href="#">スター<br>獲得量</a>
				</div>
				<div class="col square"></div>
				<div class="col square">
					<a class="circlebtn" href="#">霊基一覧</a>
				</div>
				<div class="col square"></div>
			</div>
		</div>
	</div>
</body>
</html>