<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">
<head>
<title>新規登録～鬼周回への道～</title>
</head>
<body>
	<div layout:fragment="contents">
		<div class="container" style="margin-bottom: 40px;">
			<div class="terms">
				<h1 class="">「個人情報保護方針」</h1>
				<p class="">
					会員からお預かりする個人情報を下記の条項に基づきお取扱いします。また、会員限定のサービス（以下「会員サービス」という）をご利用いただく場合には、下記条項の全文をお読みいただいたうえで同意いただく必要があります。</p>
				<h2 class="">第1条 個人情報の取得</h2>
				<ol class="">
					<li class="">会員は、本同意条項第2条に定める利用目的のために、電子メールアドレス、本サービスの利用履歴等（以下「個人情報」という）を取得することに同意するものとします。</li>
					<li class="">個人情報を提供いただくかどうかは、会員の任意のご判断によります。但し、必要な個人情報の提供を拒み、又は誤った個人情報を提供する会員は、会員サービスの提供が受けられないことを予め了承するものとします。</li>
				</ol>
				<h2 class="">第2条 個人情報の利用目的</h2>
				<p class="">
					会員より取得した個人情報を、下記の目的において利用します。なお、下記以外の目的で個人情報を利用する場合は、改めて目的を通知し、会員の同意を得るものとします。</p>
				<ol class="">
					<li class="">会員の本人確認のため</li>
					<li class="">会員サービスの不正利用の防止のため</li>
					<li class="">サービスの改善のために、個人を識別又は特定できない様態にて集計した統計資料の作成、またはそれらを用いた分析のため。</li>
				</ol>
				<h2 class="">第3条 アカウントの削除後の個人情報について</h2>
				<p class="">
					アカウントの削除等により会員資格を喪失した会員の個人情報を、アカウントの削除後１年間は保有することができるものとします。</p>
				<h2 class="">第4条 個人情報保護方針の変更</h2>
				<p class="">
					本サービス提供者は個人情報保護方針を変更する際、会員に同意を得た場合のみ変更することができる。ただし、個人情報保護法等の変更に伴い早急に変更しなければならない場合に限り、ユーザーに通知することなく個人情報保護方針を変更することができるものとします。</p>
			</div>
		</div>
	</div>
</body>
</html>