<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">
<head>
<title>メールアドレスの変更～鬼周回への道～</title>
</head>
<body>
<div layout:fragment="contents">
		<div class="container">
			<div class="row justify-content-center mx-auto">
				<div class="col-lg-4 border bg-blueRight">
					<div class="row">
						<h1 class="bg-cyan-blue text-white">アカウント削除</h1>
					</div>
					<div class="row text-center">
						<p class="m-0 text-danger delete-message">本当に削除しますか？</p>
					</div>
					<form th:action="@{/mypages/delete}" method="POST">
						<div class="text-center">
							<div class="answer-button mt-5">
								<button class="mt-4 mb-2 mx-auto" type="submit"><span>削除</span>はい</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>