<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">
<head>
<title>パスワードの変更～鬼周回への道～</title>
</head>
<body>
<div layout:fragment="contents">
		<div class="container">
			<div class="row justify-content-center mx-auto">
				<div class="col-lg-4 border bg-blueRight">
					<div class="row">
						<h1 class="bg-cyan-blue text-white">パスワードの変更</h1>
					</div>
					<form th:action="@{/mypages/editPassword}" method="POST" th:object = "${userPasswordForm}">
					    <div class="wmin-100-20rem mx-auto mb-3">
							<label class="block item-name" for="nowPassword">現在のパスワード</label>
							<span class="error-message" th:if="${#fields.hasErrors('nowPassword')}" th:errors="*{nowPassword}"></span>
							<input class="w-100 border-bottom-only border-2 border-dark bg-translucent wmin-100-17rem f-18px"
								type="password" th:field=*{nowPassword}
								placeholder="半角英数字 8文字~36文字">
						</div>
						<div class="wmin-100-20rem mx-auto mb-3">
							<label class="block item-name" for="password">パスワード</label>
							<span class="error-message" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
							<input class="w-100 border-bottom-only border-2 border-dark bg-translucent wmin-100-17rem f-18px"
								type="password" th:field=*{password}
								placeholder="半角英数字 8文字~36文字">
						</div>
						<div class="wmin-100-20rem mx-auto mb-3">
							<label class="block item-name" for="passwordConfirmation">確認用パスワード</label>
							<span class="error-message" th:if="${#fields.hasErrors('passwordConfirmation')}"
								th:errors="*{passwordConfirmation}"></span>
							<input class="w-100 border-bottom-only border-2 border-dark bg-translucent wmin-100-17rem f-18px"
								type="password" th:field=*{passwordConfirmation} placeholder="半角英数字 8文字~36文字">
						</div>
						<div class="text-center">
							<div class="answer-button mt-5">
								<button class="mt-4 mb-2 mx-auto" type="submit"> <span>変更</span>PUSH</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>