@charset "utf-8";
.row div {
	margin-bottom: 10px;
}
.tabs {
	background-color: #fff;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	width: 100%;
	margin: 0 auto;
}

.ans-tab{
	width: calc(100%/3);
	border-bottom: 3px solid #5ab4bd;
	background-color: #d9d9d9;
	text-align: center;
	color: #565656;
	display: block;
	float: left;
	text-align: center;
	font-weight: bold;
	transition: all 0.2s ease;
}

.tab-2{
	width: calc(100%/2);
}

.tab-3{
	width: calc(100%/3);
}

.tab-content{
	display: none;
	font-size: 2rem;
	clear: both;
	overflow: hidden;
}

input[type = "radio"]{
	display: none;
}

.ans{
	display: flex;
}

@for $i from 1 through 3{
	.enemy-#{$i}{
		.ans-tab:hover{
			background-color: #d9d9d9;
			opacity: 0.75;
		}
		
		#ans-max-#{$i}:checked ~ div .ans-max-content-#{$i},
		#ans-#{$i}:checked ~ div .ans-content-#{$i},
		#ans-min-#{$i}:checked ~ div .ans-min-content-#{$i}{
			display: block;
		}
		
		.tabs input:checked + .ans-tab{
			background-color: #5ab4bd;
			color: #fff;
		}
	}
}

.navbar{
	justify-content: left;
	padding-bottom: 0;
	background-color: rgba(255,255,255,0.99);
	font-size: 16px;
}

.navbar-light .navbar-toggler {
	border-color: rgba(0, 0, 0, 0);
	outline: none;
}

.navbar-brand{
	font-size: 2.25rem;
	margin-right: 0;
}

.nav-link{
	padding: 12px;
	padding-left: auto;
	font-size: 1.5rem;
}

.nav-link:hover{
	border: 2px solid #05FBFF;
}

.navbar-light .navbar-toggler-icon {
	background-image: url('/images/icons/navbar.png');
}

.navbar-toggler:focus {
	box-shadow: none;
}

.toolname{
	font-size: 2.25rem;
	margin: auto 10px auto auto;
	padding-top: 0.3125rem;
	padding-bottom: 0.3125rem;
}

.error-message{
	color:crimson;
}

.home{
	padding-right: 20%;
	padding-left: 20%
}

.important {
	margin-top: max(10vw,55px);
	margin-bottom: 10px;
}

.block{
	display:block;
}

.circlebtn{
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #FFF;
	text-decoration: none;
	text-align: center;
	width: 90%;
	height: 90%;
	margin: auto;
	font-size: 1.5vw;
}

.circlebtn:hover{
	color: #FFF;
	border:2px solid #333
}

.square{
	aspect-ratio: 1;
	padding: 0;
	margin: 0;
}

.bg-cyan-blue{
	background: linear-gradient(#05FBFF, #1E00FF);
}

.font-cyan-blue{
	color: linear-gradient(#05FBFF, #1E00FF);
}

.bg-blueRight{
	background-color: #eaf4ff;
}

.border-bottom-only{
	border-top: none;
	border-right: none;
	border-left: none;
}

label.item-name{
	font-family: "游ゴシック 本文";
	color: #000064;
	font-weight: bolder;
	margin-bottom: 5px;
}

p.item-name{
	color: #000064;
	font-weight: bolder;
}

.bg-translucent{
	background-color: rgba(255,255,255,0.5);
}

.wmin-100-10rem{
	width: min(100%,10rem);
}
.wmin-100-12rem{
	width: min(100%,12rem);
}

.wmin-100-17rem{
	width: min(100%,17rem);
}

.wmin-100-20rem{
	width: min(100%,20rem);
}

.f-18px{
	font-size: 18px;
}

.m-0{
	margin-right: auto;
	margin-left: auto;
}

.f-24px{
	font-size: 24px;
}

footer{
	position: absolute;
	bottom: 0;
}

.pc {display: block !important; }
.sp { display: none !important; }

@media (max-width: 900px){
	.home{
		padding-right: 10%;
		padding-left: 10%
}
	.circlebtn{
		font-size: 2vw;
	}
}

@media (max-width: 750px) {
	.pc { display: none !important; }
	.sp { display: block !important; }
	.toolname, .navbar-brand{
		font-size: 1.25rem;
	}
}

@media (min-width: 576px){
	.container, .container-sm {
		max-width: 100%;
	}
}

@media (max-width: 530px){
	.circlebtn{
		font-size: 1vw;
	}
}

@media (max-width: 335px){
	.navbar-brand{ display: none !important; }
}

.param-botton button{
	background-color:white;
}

.param-botton button:hover{
	color:white;
	background-color:black;
}

.answer-button button {
	background: rgba(0,70,255,1);
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: min(90%, 150px);
	padding: 0.5rem;
	color: #FFF;
	flex-direction: column;
	border: solid 1px blue;
	border-radius: 3rem;
	font-size: 1.5rem;
	font-family: "HGS創英角ｺﾞｼｯｸUB";
}
.answer-button button span {
	background: #FFFF00;
	width: 80%;
	text-align: center;
	position: absolute;
	top: -23px;
	filter: drop-shadow(0px 1px 2px #aaa);
	padding: 3px 0;
	font-size: 1rem;
	color: #2b7fde;
	border-radius: 5px;
	font-family: "游ゴシック 本文";
	font-weight: 600;
	transition: all .3s;
}

.answer-button button::after{
	content: "";
	position: absolute;
	top:43%;
	left: 15px;
	transform: rotate(45deg);
	width: 10px;
	height: 10px;
	border-top: solid 3px #ffffff;
	border-right: solid 3px #ffffff;
}

.answer-button button span:after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border: 5px solid transparent;
	border-top: 5px solid #ffffff;
	transition: all .3s;
}

.answer-button button:hover {
	transition: 0.3s ease-in-out;
	background-color: white;
	color:blue;
	span{
		color:transparent;
		background-color: transparent;
	}
	span::after{
		border: none;
	}
}

.answer-button button:hover::after{
	transition: all .3s;
	left: 120px;
	border-color: blue;
}